include:
  - project: 'gnome/citemplates'
    file: 'flatpak/flatpak_ci_initiative.yml'
  - component: "gitlab.gnome.org/GNOME/citemplates/release-service@master"
    inputs:
      dist-job-name: "distcheck"
      tarball-artifact-path: "_build/meson-dist/$CI_PROJECT_NAME-$CI_COMMIT_TAG.tar.xz"

variables:
  MANIFEST_PATH: 'examples/demo/org.gnome.RestDemo.json'
  FLATPAK_MODULE: 'librest-demo'
  FLATPAK_BUILD_DIR: build
  LAST_ABI_BREAK: "a36606b6633e4244740793ab3a17d392b1cf6035"

stages:
  - build
  - docs
  - deploy

build-librest:
  image: registry.gitlab.gnome.org/gnome/librest/master:v1
  stage: build
  except:
    - tags
  script:
    - git config --global --add safe.directory $CI_PROJECT_DIR
    - meson _build -Dexamples=true
    - meson compile -C _build
    - meson test -C _build
    - check-abi ${LAST_ABI_BREAK} ${CI_COMMIT_SHA}
  artifacts:
    reports:
      junit: "_build/meson-logs/testlog.junit.xml"
    name: "librest-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    when: always
    paths:
      - "_build/config.h"
      - "_build/meson-logs"

build-flatpak:
  extends: '.flatpak'
  stage: build
  except:
    - tags
  before_script: []
  allow_failure: true
  variables:
    RUNTIME_REPO: 'https://nightly.gnome.org/gnome-nightly.flatpakrepo'
    APP_ID: 'org.gnome.RestDemo'
    BUNDLE: 'org.gnome.RestDemo.flatpak'

.gidocgen-build:
  image: registry.gitlab.gnome.org/gnome/librest/master:v1
  script:
    - meson setup ${MESON_EXTRA_FLAGS} ${DOCS_FLAGS} _docs .
    - meson compile -C _docs
    - |
      pushd "_docs/${DOCS_PATH}" > /dev/null
      tar cf ${CI_PROJECT_NAME}-docs.tar .
      popd > /dev/null
    - mv _docs/${DOCS_PATH}/${CI_PROJECT_NAME}-docs.tar .
  artifacts:
    when: always
    name: 'Documentation'
    expose_as: 'Download the API reference'
    paths:
      - ${CI_PROJECT_NAME}-docs.tar

distcheck:
  image: registry.gitlab.gnome.org/gnome/librest/master:v1
  stage: build
  script:
    - git config --global --add safe.directory $CI_PROJECT_DIR
    - meson setup _build --auto-features=enabled
    - meson dist -C _build
  artifacts:
    paths:
      - "_build/meson-dist/*.xz"

reference:
  stage: docs
  needs: []
  extends: .gidocgen-build
  variables:
    PROJECT_DEPS:
      docbook-style-xsl
      gcc
      gettext
      git
      glib2-devel
      libxml2-devel
      libxslt
      libsoup3-devel
      gtk-doc
      json-glib-devel
    MESON_VERSION: "0.56"
    MESON_EXTRA_FLAGS: "-Dintrospection=true -Dexamples=false"
    DOCS_FLAGS: -Dgtk_doc=true
    DOCS_PATH: docs/librest-1.0

pages:
  image: registry.gitlab.gnome.org/gnome/librest/master:v1
  stage: deploy
  needs: ['reference']
  script:
    - mkdir public && cd public
    - tar xf ../${CI_PROJECT_NAME}-docs.tar
  artifacts:
    paths:
      - public
  only:
    - master
