*.la
*.lo
*.o
Makefile
Makefile.in
.deps
.libs
*~
*.pc
aclocal.m4
autom4te.cache
compile
configure
config.*
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
docs/reference/rest/html/
docs/reference/rest/xml/
docs/reference/rest/rest-decl*.txt
examples/test-oauth
examples/test-raw
examples/test-xml
examples/dump-xml
tests/oauth
tests/proxy
